{% load static %}
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="header_content d-flex flex-row align-items-center justify-content-start">
					<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo"><a href="/">Voyager</a></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
									<li class="{% if request.path == '/contact.html' %}active{% endif %}"><a href="/contact.html">Contact</a></li>
									{% if user.is_authenticated %}
									<li><a href="/accounts/logout">Log Out</a></li>
									<li style="font-family: 'Oswald', sans-serif; font-size: 16px; font-weight: 400; color: #FFFFFF; white-space: nowrap;">Hello, {{user.first_name}}</li>
									{% else %}
									<li class="{% if request.path == '/accounts/login' %}active{% endif %}"><a href="/accounts/login">Log In</a></li>
									<li class="{% if request.path == '/accounts/register' %}active{% endif %}"><a href="/accounts/register">Register</a></li>
									{% endif %}
							</ul>
						</nav>
						<div class="header_phone ml-auto">Call us: 00-56 445 678 33</div>

						<!-- Hamburger -->

						<div class="hamburger ml-auto">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_social d-flex flex-row align-items-center justify-content-start">
		<ul class="d-flex flex-row align-items-start justify-content-start">
			<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</header>
